<!DOCTYPE HTML>
<html>
<head>
    <title>gallery</title>
    <link rel="stylesheet" href="stylesheet.css">
    <script src="main.js"></script>
</head>
<body>
    <header>
        
        hehgfg
    </header>
    <nav>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="about-me.html">about me</a></li>
            <li><a href="links.html">links</a></li>
            <li id="active"><a href="gallery.html">gallery</a></li>
        </ul>
    </nav>
    <main>
        <div id="largeImg"></div>
        <div id="smallerImg" >
        <img src="img/thumb2.jpg" id="2" onclick="displayImg(this)"/>
        <img src="img/thumb3.png" id="3" onclick="displayImg(this)"/>
        <img src="img/thumb4.jpg" id="4" onclick="displayImg(this)"/>
        <img src="img/thumb5.jpg" id="5" onclick="displayImg(this)"/></div>
        

    </main>
    <footer>
        hehgfg
        <div class="copyright">copyright</div>
    </footer>
</body>
</html>